<%- include("_header") -%>

<h1> Bienvenue sur la chatbox !</h1>
<div class="mainbox">
    <aside class="contacts">
	  <div >
        <p>Utilisateurs connectés</p>
	  </div>
      <%users.forEach(username => {%>
        <div class="user" id=<%=username%>>
          <span class="state"><i class="far fa-circle"></i></span>
          <p class="name"><%=username%></p>
          <i class="fas fa-ellipsis-v"></i>
        </div>
      <%})%>
    </aside>
	
    <div class="conversation">

      <div class="chat" id="chat">
        <% messages.forEach(msg => {%>
          <div class="message">
            <p class="title">
              <%= msg.user %> <span><%= msg.date %></span>
            </p>
            <p class="text"><%= msg.message %></p>
          </div>
        <%})%>

      </div>
      <div class="type-zone">
        <input class="send" id="send" autofocus>
        <i class="far fa-smile"></i>
      </div>
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
    $(function () {
      const socket = io();
      socket.emit('login', { user: '<%= user %>'});
      socket.on('user-connected', (state) => {
        $('#chat').append(`<p class='conected'>${state.user} connected</p>`);
        $('.contacts').append(`<div class="user" id=${state.user}>
            <span class="state"><i class="far fa-circle"></i></span>
            <p class="name">${state.user}</p>
            <i class="fas fa-ellipsis-v"></i>
          </div>`);
      });
      socket.on('user-disconnected', state => {
        $('#chat').append(`<p class='conected'>${state.user} disconnected</p>`);
        $(`#${state.user}`).remove();
      });
      $('#send').on('keydown', function(e){
        const keycode = (event.keyCode ? event.keyCode : event.which);
        if(keycode == '13'){
          const userLogin = $('#user').text();
          let userMessage = $('#send').val();
          socket.emit('new-message', {message: userMessage, user: '<%= user %>', date: new Date()});
          $('#send').val('');
        }
      });
      socket.on('new-message', msg => {
        $('#chat').append(`<div class='message'>
        <p class='title'>
          ${msg.user}<span>${msg.date}</span>
        </p>
        <p class='text'>${msg.message}</p>
        </div>`);
      });
      return false;
    });
  </script>

<%- include("_footer") -%>